

.adduser {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* margin-top: 50px ; */
    background: linear-gradient( #ff7e5f,#feb47b,#86a8e7,#91eac9);

  }

  .adduser img{
    width: 200px;
    /* background-color: #45a049; */
    
  }
  
  .adduser h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .adduser form {
    width: 80%;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .adduser .form-group {
    margin-bottom: 15px;
  }
  
  .adduser .form-group label {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
  }
  
  .adduser .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .adduser button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .adduser button:hover {
    background-color: #45a049;
  }
  